body {
	background-color: #FFFFAA;
}
.pageWrapper {
	width: 960px;
	margin: 0 auto;
	background-color: #F0F0F0;
}
.header {
	font-size: 3em;
	text-align: center;
}
.sideBar{
	float: left;
	width: 280px;
	margin-left: 10px;	
	background-color: #FFF;
}
.workingSpace {
	float: right;
	width: 650px;
	margin-right: 10px;
	background-color: #FFF;
}
.footer {
	clear: both;
	font-size: 1em;
	text-align: center;
	font-style: italic;
}