body {
	font-family: Arial, sans-serif;
	color: rgb(50,50,60);
	background-color: rgb(230,230,255);
}
.pageWrapper {
	width: 960px;
	margin: 0 auto;
	margin-top: 15px;
	border: 6px solid rgb(255,255,255);
	background-color: rgb(230,230,255);
	box-shadow: 0 0 13px 5px rgba(0,0,0,0.5);
}
.header {
	margin-bottom: 20px;
	font-size: 94px;
	background-color: rgb(175,175,255);
}
	.header h1 {
		margin-left: 40px;
		padding-top: 5px;
		line-height: 80px;
		font-family: Arial Black, Arial, sans-serif;
		color: rgb(255,163,0);
	}
		.header h1 span {
			margin-left: -20px;
			font-size: 60px;
			font-family: Arial, sans-serif;
			font-weight: bold;
			font-style: italic;
			color: rgb(255,255,103);
		}
	.header div {
		width: 400px;
		margin-right: 30px;
		font-size:20px;
		float: right;
		text-align: right;
		font-style: italic;
		color: rgb(255,255,255);
		text-shadow: 4px 3px 6px rgba(0,0,0,.5);
	}
.sideBar{
	float: left;
	width: 250px;
	margin-left: 10px;	
}
	.description {
		height: 244px;
		padding-top: 5px;
		line-height: 21px;
	}
	.tooltip {
		width: 240px;
		height: 200px;
		margin-bottom: -10px;
		border: 3px solid rgba(100,100,100,0.6);
		padding-top: 10px;
		padding-left: 3px;
		padding-right: 5px;
		border-radius: 5px;
	    text-align: center;
		font-size: 14px;
		font-style: italic;
		background-color: #FFF;
	}
	.empty {
		height: 30px;
		background-color: rgb(230,230,255);		
	}
	.remark {
		height: 36px;
		margin-top: 30px;
		border: none;	
		background-color: rgb(230,230,255);
		font-size: 16px;
	}
	.hidden {
		display: none;
	}
	.tooltipButton{
		margin-left: 60px;
		margin-bottom: 10px;	
	}
.workingSpace {
	float: right;
	width: 680px;
	margin-right: 10px;
}
  .colorBox {
	  float: left;
  }
	.slidersPanel {
		float: left;
		width: 230px;	
	}
		.sliderName {
			float: left;
			margin-left: 25px;
			margin-top: 18px;
			font-weight: bold;
		}
		.currentValue {
			float: right;
			width: 60px;
			margin-right: 10px;
			margin-top: 15px;
			margin-bottom: 15px;			
			padding-top: 3px;
			padding-bottom: 3px;
			padding-left: auto;
			padding-right: auto;
			border: 3px solid rgba(100,100,100,0.6);
			border-radius: 3px;
			background-color: #FFF;
			font-weight: bold;
			text-align: center;
		}		
		.bar{
			clear: both;
			width: 90%;
			height: 16px;
			margin: auto;
			background: rgb(210,210,210);  
			position: relative;
			border-radius: 5px;
		}	
		.marker{
			width: 8px;
			height: 32px;
			border-radius: 3px;
			background: rgba(100,100,100,0.6); 
			margin-top: -8px;
			position: absolute;
}
	.standartColors {
		float: right;
		width: 198px;
		text-align: center;
	}	
		.standartColors td {
			width: 66px;
			height: 35px;
		}			
	.screens{
		float: right;
		width: 250px;
	}
	  .currentScreenBG{
		  height: 230px;
		  background-size: cover;
	  }	
		.currentColorScreen{
			height: 230px;
		}
			.button {
				float: right;
				margin-top: -10px;
				margin-right: 50px;
			}
	  .lastColorScreen {
		  height: 85px;
		  font-size: 20px;
		  text-align: center;
	  }		
	.backgroundsPanel {
		clear: both;
		width: 650px;
		margin: 10px auto;
		padding-top: 30px;
		padding-bottom: 10px;
		text-align: center;
	}
	.bgImage  {
		width: 140px;
		height: 140px;
		margin-left: 10px;
	}
.footer {
	clear: both;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	font-size: 13px;
	font-style: italic;
	font-weight: bold;
	color: rgb(80,0,0);	
	background-color: rgb(175,175,255);
}
	.footer img{
		margin-bottom: -3px;
	}
	.footer  a{
		float: right;
		margin-right: 10px;			
		text-decoration: none;
		font-size: 13px;
		font-weight: bold;
		color: rgb(80,0,0);	
	}
	.footer  a:hover{
		color: rgb(255,163,0);			
	}